@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
}

footer {
    background-color: #222;
    color: white;
    width: 100%;
    bottom: 0;
    padding: 2rem;
    display: flex;
    margin-top: auto;
    flex: 1;
}

.logo {
    width: 25%;
}

.nonLogo {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

h1 {
    font-size: 20pt;
}

h1 ul {
    font-size: 14pt;
}

.contact {
    display: inline;
}

.about {
    display: block;
}

.news {
    display: block;
}
