@tailwind base:
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.navbar {
    background-color: #222;
    color: white;
    align-items: center;
    display: flex;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    flex: 1;
}

.nonLogo li{
    display: inline-block;
    margin-right: 1rem;
    justify-content: flex-end;
}
